In [1]:
import numpy as np
import pandas as pd
import datetime

In [122]:
source = pd.read_csv('nba6.csv')
source.shape

(9840, 46)

In [128]:
source.head()

,Team,Game,Date,Home,Opponent,WINorLOSS,Is_b2b,Is_b2b_opp,Records,OppRecords,...,Cumu.Opp.FreeThrows,Cumu.Opp.FreeThrowsAttempted,Cumu.Opp.FreeThrows.,Cumu.Opp.OffRebounds,Cumu.Opp.TotalRebounds,Cumu.Opp.Assists,Cumu.Opp.Steals,Cumu.Opp.Blocks,Cumu.Opp.Turnovers,Cumu.Opp.TotalFouls
0,ATL,1,2014-10-29,Away,TOR,L,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ATL,2,2014-11-01,Home,IND,W,0,1,-1,0,...,27.0,33.000000,0.818000,16.000000,48.000000,26.000000,13.000000,9.000000,9.000000,22.00
2,ATL,3,2014-11-05,Away,SAS,L,0,0,0,0,...,22.5,27.000000,0.837500,13.500000,46.000000,25.500000,9.000000,7.000000,13.500000,24.00
3,ATL,4,2014-11-07,Away,CHO,L,0,0,-1,-1,...,24.0,30.666667,0.795333,12.666667,47.333333,25.333333,8.333333,7.666667,15.333333,21.00
4,ATL,5,2014-11-08,Home,NYK,W,1,1,-2,-2,...,23.0,29.750000,0.781750,12.250000,48.250000,26.750000,7.750000,7.500000,16.250000,23.25

In [124]:
source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Team                           9840 non-null   object
 1   Game                           9840 non-null   int64
 2   Date                           9840 non-null   object
 3   Home                           9840 non-null   object
 4   Opponent                       9840 non-null   object
 5   WINorLOSS                      9840 non-null   object
 6   Is_b2b                         9840 non-null   int64
 7   Is_b2b_opp                     9840 non-null   int64
 8   Records                        9840 non-null   int64
 9   OppRecords                     9840 non-null   int64
 10  Streak                         9840 non-null   int64
 11  OppStreak                      9840 non-null   int64
 12  Cumu.TeamPoints                9720 non-null   float64
 13  Cumu.OpponentPoints            9720 non-null   float64
 14  Cumu.FieldGoals                9720 non-null   float64
 15  Cumu.FieldGoalsAttempted       9720 non-null   float64
 16  Cumu.FieldGoals.               9720 non-null   float64
 17  Cumu.X3PointShots              9720 non-null   float64
 18  Cumu.X3PointShotsAttempted     9720 non-null   float64
 19  Cumu.X3PointShots.             9720 non-null   float64
 20  Cumu.FreeThrows                9720 non-null   float64
 21  Cumu.FreeThrowsAttempted       9720 non-null   float64
 22  Cumu.FreeThrows.               9720 non-null   float64
 23  Cumu.OffRebounds               9720 non-null   float64
 24  Cumu.TotalRebounds             9720 non-null   float64
 25  Cumu.Assists                   9720 non-null   float64
 26  Cumu.Steals                    9720 non-null   float64
 27  Cumu.Blocks                    9720 non-null   float64
 28  Cumu.Turnovers                 9720 non-null   float64
 29  Cumu.TotalFouls                9720 non-null   float64
 30  Cumu.Opp.FieldGoals            9720 non-null   float64
 31  Cumu.Opp.FieldGoalsAttempted   9720 non-null   float64
 32  Cumu.Opp.FieldGoals.           9720 non-null   float64
 33  Cumu.Opp.3PointShots           9720 non-null   float64
 34  Cumu.Opp.3PointShotsAttempted  9720 non-null   float64
 35  Cumu.Opp.3PointShots.          9720 non-null   float64
 36  Cumu.Opp.FreeThrows            9720 non-null   float64
 37  Cumu.Opp.FreeThrowsAttempted   9720 non-null   float64
 38  Cumu.Opp.FreeThrows.           9720 non-null   float64
 39  Cumu.Opp.OffRebounds           9720 non-null   float64
 40  Cumu.Opp.TotalRebounds         9720 non-null   float64
 41  Cumu.Opp.Assists               9720 non-null   float64
 42  Cumu.Opp.Steals                9720 non-null   float64
 43  Cumu.Opp.Blocks                9720 non-null   float64
 44  Cumu.Opp.Turnovers             9720 non-null   float64
 45  Cumu.Opp.TotalFouls            9720 non-null   float64
dtypes: float64(34), int64(7), object(5)
memory usage: 3.5+ MB

### Compute "is back to back"

In [5]:
def is_b2b(row):
    team = row['Team']
    game_date = datetime.datetime.strptime(row['Date'], "%Y-%m-%d").date()
    yesterday = game_date - datetime.timedelta(days=1)
    yesterday = yesterday.strftime("%Y-%m-%d")
    if ((source['Date']==yesterday) & (source['Team']==team)).any():
        return 1
    else:
        return 0

In [6]:
def is_b2b_opp(row):
    team = row['Opponent']
    game_date = datetime.datetime.strptime(row['Date'], "%Y-%m-%d").date()
    yesterday = game_date - datetime.timedelta(days=1)
    yesterday = yesterday.strftime("%Y-%m-%d")
    if ((source['Date']==yesterday) & (source['Opponent']==team)).any():
        return 1
    else:
        return 0

In [7]:
'''
#source.apply((lambda x: is_b2b(x, source)))
b2b = source.apply(is_b2b, axis=1)
source['Is_b2b'] = b2b
'''

"\n#source.apply((lambda x: is_b2b(x, source)))\nb2b = source.apply(is_b2b, axis=1)\nsource['Is_b2b'] = b2b\n"

In [8]:
'''
#source.apply((lambda x: is_b2b(x, source)))
b2b = source.apply(is_b2b_opp, axis=1)
source['Is_b2b_opp'] = b2b
'''

"\n#source.apply((lambda x: is_b2b(x, source)))\nb2b = source.apply(is_b2b_opp, axis=1)\nsource['Is_b2b_opp'] = b2b\n"

In [9]:
'''
source = source.drop(['Unnamed: 0'], axis=1)
source.head()
'''

"\nsource = source.drop(['Unnamed: 0'], axis=1)\nsource.head()\n"

In [10]:
#source.to_csv('nba.csv',index=False)

### Compute "Record"

In [19]:
source[(source['Game']==82) & (source['Team']=='ATL')]

,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,FieldGoalsAttempted,...,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls,Is_b2b,Is_b2b_opp,Records
81,ATL,82,2015-04-15,Away,CHI,L,85,91,36,92,...,7,50,14,11,9,21,12,0,0,38
163,ATL,82,2016-04-13,Away,WAS,L,98,109,32,81,...,11,51,25,14,4,19,22,0,0,14
245,ATL,82,2017-04-12,Away,IND,L,86,104,30,72,...,8,41,21,5,7,10,14,1,0,4
327,ATL,82,2018-04-10,Home,PHI,L,113,121,41,98,...,11,54,29,7,8,18,22,0,0,-34

In [12]:
'''
# Check if all teams played 82 games for all the seasons
teams = source.Team.unique()
for team in teams:
    last_game_indexes = source[(source['Game']==82) & (source['Team']==team)].index
    for i in last_game_indexes:
        season = source.loc[i-81:i]
        if season.iloc[0]['Game'] != 1:
            print(season.iloc[0]['Team'], '1')
        if season.iloc[-1]['Game'] != 82:
            print(season.iloc[-1]['Team'], '82')
'''

"\n# Check if all teams played 82 games for all the seasons\nteams = source.Team.unique()\nfor team in teams:\n    last_game_indexes = source[(source['Game']==82) & (source['Team']==team)].index\n    for i in last_game_indexes:\n        season = source.loc[i-81:i]\n        if season.iloc[0]['Game'] != 1:\n            print(season.iloc[0]['Team'], '1')\n        if season.iloc[-1]['Game'] != 82:\n            print(season.iloc[-1]['Team'], '82')\n"

In [21]:
'''
df = {}
tm = []
sn = []
subset = []

teams = source.Team.unique()
for team in teams:
    last_game_indexes = source[(source['Game']==82) & (source['Team']==team)].index
    for i in last_game_indexes:
        season = source.loc[i-81:i]
        tm.append(season['Team'].iloc[0])
        sn.append(season['Date'].iloc[0])
        subset.append(season)

df['Team'] = tm
df['Season First Game Date'] = sn
df['Dataframe'] = subset
df = pd.DataFrame.from_dict(df)
'''

"\ndf = {}\ntm = []\nsn = []\nsubset = []\n\nteams = source.Team.unique()\nfor team in teams:\n    last_game_indexes = source[(source['Game']==82) & (source['Team']==team)].index\n    for i in last_game_indexes:\n        season = source.loc[i-81:i]\n        tm.append(season['Team'].iloc[0])\n        sn.append(season['Date'].iloc[0])\n        subset.append(season)\n\ndf['Team'] = tm\ndf['Season First Game Date'] = sn\ndf['Dataframe'] = subset\ndf = pd.DataFrame.from_dict(df)\n"

In [13]:
def record(subset):
    win_lose = subset.WINorLOSS.value_counts()
    wins = 0
    loses = 0
    if 'W' in win_lose.keys():
        wins = win_lose['W']
    if 'L' in win_lose.keys():
        loses = win_lose['L']
    return wins-loses

In [23]:
'''
records = []
for row in df.iterrows():
    games = row[1]['Dataframe']
    team_records = [0]
    for i in range(2,len(games)):
        ith_game = games[:i-1]
        team_records.append(record(ith_game))
    team_records.append(record(games))
    records.append(team_records)
'''

"\nrecords = []\nfor row in df.iterrows():\n    games = row[1]['Dataframe']\n    team_records = [0]\n    for i in range(2,len(games)):\n        ith_game = games[:i-1]\n        team_records.append(record(ith_game))\n    team_records.append(record(games))\n    records.append(team_records)\n"

In [24]:
'''
df['Records'] = records
df
'''

"\ndf['Records'] = records\ndf\n"

In [25]:
'''
source = pd.DataFrame()
for row in df.iterrows():
    games = row[1]['Dataframe']
    records = row[1]['Records']
    games['Records'] = records
    source = source.append(games, ignore_index=True)
'''

"\nsource = pd.DataFrame()\nfor row in df.iterrows():\n    games = row[1]['Dataframe']\n    records = row[1]['Records']\n    games['Records'] = records\n    source = source.append(games, ignore_index=True)\n"

In [26]:
#source.to_csv('nba2.csv',index=False)

In [14]:
def opp_records(row):
    opp_team = row['Opponent']
    date = row['Date']
    opp_row = source[(source['Date']==date) & (source['Team']==opp_team)]
    return int(opp_row['Records'])

In [51]:
#opp_record = source.apply(opp_records, axis=1)
#source['OppRecords'] = opp_record

In [56]:
#source.to_csv('nba3.csv',index=False)

### Compute "Streak"

In [69]:
df = {}
tm = []
sn = []
subset = []

teams = source.Team.unique()
for team in teams:
    last_game_indexes = source[(source['Game']==82) & (source['Team']==team)].index
    for i in last_game_indexes:
        season = source.loc[i-81:i]
        tm.append(season['Team'].iloc[0])
        sn.append(season['Date'].iloc[0])
        subset.append(season)

df['Team'] = tm
df['Season First Game Date'] = sn
df['Dataframe'] = subset
df = pd.DataFrame.from_dict(df)

In [16]:
def compute_streak(row, games,result):
    last_game_id = row['Game']-1
    if last_game_id > 0:
        lastgame = games[games['Game']==last_game_id]
        prev_strk = result[last_game_id-1]
        prev_w_l = lastgame.WINorLOSS.item()
        if prev_strk >= 0 and prev_w_l == 'W':
            result.append(prev_strk+1)
            #row['Streak'].iat[44] = prev_strk+1
            #game.iat[last_game_id,44] = prev_strk+1
        elif prev_strk <= 0 and prev_w_l == 'L':
            result.append(prev_strk-1)
        elif prev_w_l == 'W':
            result.append(1)
        else:
            result.append(-1)
            #row['Streak'].iat[44] = prev_strk-1
            #game.iat[last_game_id,44] = prev_strk-1

In [209]:
'''
for row in df.iterrows():
    games = row[1]['Dataframe'] # all game for a team in a season
    result = [0]
    for i in range(1,len(games)):
        game = games.iloc[i]
        compute_streak(game,games,result)
    games['Streak'] = result
'''

"\nfor row in df.iterrows():\n    games = row[1]['Dataframe'] # all game for a team in a season\n    result = [0]\n    for i in range(1,len(games)):\n        game = games.iloc[i]\n        compute_streak(game,games,result)\n    games['Streak'] = result\n"

In [213]:
'''
source = pd.DataFrame()
for row in df.iterrows():
    games = row[1]['Dataframe']
    source = source.append(games, ignore_index=True)
'''

In [17]:
def opp_strk(row):
    opp_team = row['Opponent']
    date = row['Date']
    opp_row = source[(source['Date']==date) & (source['Team']==opp_team)]
    return int(opp_row['Streak'])

In [7]:
#opp_strk = source.apply(opp_strk, axis=1)
#source['OppStreak'] = opp_strk

In [9]:
#source.to_csv('nba5.csv',index=False)

### Group by on everything to get average of TeamPoints, OpponentPoints, FieldGoals etc...

In [18]:
source.columns

Index(['Team', 'Game', 'Date', 'Home', 'Opponent', 'WINorLOSS', 'TeamPoints',
       'OpponentPoints', 'FieldGoals', 'FieldGoalsAttempted', 'FieldGoals.',
       'X3PointShots', 'X3PointShotsAttempted', 'X3PointShots.', 'FreeThrows',
       'FreeThrowsAttempted', 'FreeThrows.', 'OffRebounds', 'TotalRebounds',
       'Assists', 'Steals', 'Blocks', 'Turnovers', 'TotalFouls',
       'Opp.FieldGoals', 'Opp.FieldGoalsAttempted', 'Opp.FieldGoals.',
       'Opp.3PointShots', 'Opp.3PointShotsAttempted', 'Opp.3PointShots.',
       'Opp.FreeThrows', 'Opp.FreeThrowsAttempted', 'Opp.FreeThrows.',
       'Opp.OffRebounds', 'Opp.TotalRebounds', 'Opp.Assists', 'Opp.Steals',
       'Opp.Blocks', 'Opp.Turnovers', 'Opp.TotalFouls', 'Is_b2b', 'Is_b2b_opp',
       'Records', 'OppRecords', 'Streak', 'OppStreak'],
      dtype='object')

In [105]:
columns = [
'TeamPoints',
'OpponentPoints', 
'FieldGoals', 
'FieldGoalsAttempted', 
'FieldGoals.',
'X3PointShots', 
'X3PointShotsAttempted', 
'X3PointShots.', 
'FreeThrows',
'FreeThrowsAttempted', 
'FreeThrows.', 
'OffRebounds', 
'TotalRebounds',
'Assists', 
'Steals', 
'Blocks', 
'Turnovers', 
'TotalFouls',
'Opp.FieldGoals',
'Opp.FieldGoalsAttempted', 
'Opp.FieldGoals.',
'Opp.3PointShots', 
'Opp.3PointShotsAttempted', 
'Opp.3PointShots.',
'Opp.FreeThrows', 
'Opp.FreeThrowsAttempted', 
'Opp.FreeThrows.',
'Opp.OffRebounds', 
'Opp.TotalRebounds', 
'Opp.Assists', 
'Opp.Steals',
'Opp.Blocks', 
'Opp.Turnovers', 
'Opp.TotalFouls']

In [106]:
other_columns=[
'Team',
'Game',
'Date',
'Home',
'Opponent',
'WINorLOSS',
'Is_b2b',
'Is_b2b_opp',
'Records',
'OppRecords',
'Streak',
'OppStreak']

In [52]:
new_column_names = {}
for name in columns:
    new_column_names[name]='Cumu.'+name
temp.rename(columns=new_column_names, inplace=True)
temp

,Cumu.TeamPoints,Cumu.OpponentPoints,Cumu.FieldGoals,Cumu.FieldGoalsAttempted,Cumu.FieldGoals.,Cumu.X3PointShots,Cumu.X3PointShotsAttempted,Cumu.X3PointShots.,Cumu.FreeThrows,Cumu.FreeThrowsAttempted,...,Cumu.Opp.FreeThrows,Cumu.Opp.FreeThrowsAttempted,Cumu.Opp.FreeThrows.,Cumu.Opp.OffRebounds,Cumu.Opp.TotalRebounds,Cumu.Opp.Assists,Cumu.Opp.Steals,Cumu.Opp.Blocks,Cumu.Opp.Turnovers,Cumu.Opp.TotalFouls
0,102.000000,109.000000,40.000000,80.000000,0.500000,13.000000,22.000000,0.591000,9.000000,17.000000,...,27.000000,33.000000,0.818000,16.000000,48.000000,26.000000,13.000000,9.000000,9.000000,22.000000
1,102.000000,100.500000,37.500000,74.500000,0.503500,10.000000,21.000000,0.470500,17.000000,25.000000,...,22.500000,27.000000,0.837500,13.500000,46.000000,25.500000,9.000000,7.000000,13.500000,24.000000
2,98.666667,98.333333,37.666667,80.333333,0.473333,9.333333,22.333333,0.420333,14.000000,20.333333,...,24.000000,30.666667,0.795333,12.666667,47.333333,25.333333,8.333333,7.666667,15.333333,21.000000
3,103.750000,104.250000,39.000000,83.500000,0.470500,10.250000,25.000000,0.413750,15.500000,21.750000,...,23.000000,29.750000,0.781750,12.250000,48.250000,26.750000,7.750000,7.500000,16.250000,23.250000
4,103.600000,102.600000,37.800000,83.000000,0.457800,10.000000,24.400000,0.412800,18.000000,24.600000,...,20.000000,26.000000,0.770800,12.400000,47.400000,26.600000,6.600000,7.200000,16.000000,24.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,102.730769,97.089744,38.064103,81.410256,0.468731,10.000000,26.076923,0.383141,16.602564,21.346154,...,15.307692,20.012821,0.758590,11.615385,43.500000,23.602564,7.307692,4.858974,15.294872,19.820513
78,102.746835,96.873418,38.101266,81.417722,0.469127,10.000000,26.101266,0.382810,16.544304,21.278481,...,15.265823,19.987342,0.757430,11.620253,43.531646,23.569620,7.316456,4.835443,15.265823,19.759494
79,102.700000,97.012500,38.075000,81.487500,0.468438,9.987500,26.137500,0.381900,16.562500,21.312500,...,15.337500,20.075000,0.757687,11.650000,43.625000,23.550000,7.325000,4.850000,15.312500,19.750000
80,102.765432,97.197531,38.086420,81.567901,0.468123,10.000000,26.209877,0.381432,16.592593,21.333333,...,15.308642,20.061728,0.756778,11.617284,43.567901,23.666667,7.320988,4.876543,15.333333,19.740741
81,102.548780,97.121951,38.060976,81.695122,0.467183,9.975610,26.243902,0.380146,16.451220,21.158537,...,15.390244,20.134146,0.757866,11.560976,43.646341,23.548780,7.365854,4.926829,15.402439,19.646341

In [58]:
merged = pd.concat([ATL2014[other_columns], temp.shift(1).reset_index(drop=True)],
                    axis=1)
merged

,Team,Game,Date,Home,Opponent,WINorLOSS,Is_b2b,Is_b2b_opp,Records,OppRecords,...,Cumu.Opp.FreeThrows,Cumu.Opp.FreeThrowsAttempted,Cumu.Opp.FreeThrows.,Cumu.Opp.OffRebounds,Cumu.Opp.TotalRebounds,Cumu.Opp.Assists,Cumu.Opp.Steals,Cumu.Opp.Blocks,Cumu.Opp.Turnovers,Cumu.Opp.TotalFouls
0,ATL,1,2014-10-29,Away,TOR,L,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ATL,2,2014-11-01,Home,IND,W,0,1,-1,0,...,27.000000,33.000000,0.818000,16.000000,48.000000,26.000000,13.000000,9.000000,9.000000,22.000000
2,ATL,3,2014-11-05,Away,SAS,L,0,0,0,0,...,22.500000,27.000000,0.837500,13.500000,46.000000,25.500000,9.000000,7.000000,13.500000,24.000000
3,ATL,4,2014-11-07,Away,CHO,L,0,0,-1,-1,...,24.000000,30.666667,0.795333,12.666667,47.333333,25.333333,8.333333,7.666667,15.333333,21.000000
4,ATL,5,2014-11-08,Home,NYK,W,1,1,-2,-2,...,23.000000,29.750000,0.781750,12.250000,48.250000,26.750000,7.750000,7.500000,16.250000,23.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,ATL,78,2015-04-08,Away,BRK,W,1,0,39,-5,...,15.220779,19.948052,0.757013,11.584416,43.454545,23.558442,7.311688,4.870130,15.337662,19.818182
78,ATL,79,2015-04-10,Home,CHO,W,0,0,40,-12,...,15.307692,20.012821,0.758590,11.615385,43.500000,23.602564,7.307692,4.858974,15.294872,19.820513
79,ATL,80,2015-04-12,Away,WAS,L,0,0,41,11,...,15.265823,19.987342,0.757430,11.620253,43.531646,23.569620,7.316456,4.835443,15.265823,19.759494
80,ATL,81,2015-04-13,Home,NYK,L,1,0,40,-48,...,15.337500,20.075000,0.757687,11.650000,43.625000,23.550000,7.325000,4.850000,15.312500,19.750000
81,ATL,82,2015-04-15,Away,CHI,L,0,0,38,18,...,15.308642,20.061728,0.756778,11.617284,43.567901,23.666667,7.320988,4.876543,15.333333,19.740741

In [115]:
df = {}
tm = []
sn = []
subset = []

teams = source.Team.unique()
for team in teams:
    last_game_indexes = source[(source['Game']==82) & (source['Team']==team)].index
    for i in last_game_indexes:
        season = source.loc[i-81:i]
        tm.append(season['Team'].iloc[0])
        sn.append(season['Date'].iloc[0])
        subset.append(season)

df['Team'] = tm
df['Season First Game Date'] = sn
df['Dataframe'] = subset
df = pd.DataFrame.from_dict(df)

In [116]:
for row in df.iterrows():
    games = row[1]['Dataframe'] # all game for a team in a season
    temp = games[columns].reset_index(drop=True)
    temp = temp.expanding().mean()
    temp.rename(columns=new_column_names, inplace=True)
    
    temp2 = games[other_columns].reset_index(drop=True)
    merged = pd.concat([temp2, temp.shift(1).reset_index(drop=True)],
                    axis=1)
    row[1]['Dataframe'] = merged

In [118]:
df.iloc[10]['Dataframe']

,Team,Game,Date,Home,Opponent,WINorLOSS,Is_b2b,Is_b2b_opp,Records,OppRecords,...,Cumu.Opp.FreeThrows,Cumu.Opp.FreeThrowsAttempted,Cumu.Opp.FreeThrows.,Cumu.Opp.OffRebounds,Cumu.Opp.TotalRebounds,Cumu.Opp.Assists,Cumu.Opp.Steals,Cumu.Opp.Blocks,Cumu.Opp.Turnovers,Cumu.Opp.TotalFouls
0,BRK,1,2016-10-26,Away,BOS,L,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BRK,2,2016-10-28,Home,IND,W,0,0,-1,1,...,15.000000,18.000000,0.833000,12.000000,47.000000,36.000000,13.000000,9.000000,19.000000,20.000000
2,BRK,3,2016-10-29,Away,MIL,L,1,0,0,-1,...,14.000000,19.000000,0.741500,13.000000,48.000000,29.000000,10.000000,7.500000,16.000000,21.000000
3,BRK,4,2016-10-31,Home,CHI,L,0,0,-1,2,...,16.000000,20.666667,0.772000,11.333333,46.666667,27.666667,11.333333,6.666667,15.333333,21.666667
4,BRK,5,2016-11-02,Home,DET,W,0,1,-2,2,...,16.250000,20.000000,0.815000,11.750000,49.500000,27.250000,10.750000,7.250000,16.250000,21.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,BRK,78,2017-04-04,Away,PHI,W,0,0,-41,-21,...,19.350649,25.155844,0.775662,10.974026,46.987013,22.844156,9.558442,5.623377,12.831169,20.363636
78,BRK,79,2017-04-06,Away,ORL,L,0,0,-40,-24,...,19.358974,25.179487,0.775218,11.012821,46.846154,22.961538,9.525641,5.602564,12.807692,20.384615
79,BRK,80,2017-04-08,Home,CHI,W,0,0,-41,-1,...,19.392405,25.189873,0.776114,10.987342,46.860759,22.974684,9.518987,5.607595,12.810127,20.379747
80,BRK,81,2017-04-10,Away,BOS,L,0,0,-40,22,...,19.337500,25.087500,0.777438,10.987500,46.925000,22.862500,9.475000,5.612500,12.862500,20.375000
81,BRK,82,2017-04-12,Away,CHI,L,0,0,-42,0,...,19.320988,25.037037,0.778420,10.962963,46.975309,22.962963,9.444444,5.592593,12.864198,20.407407

In [119]:
'''
source2 = pd.DataFrame()
for row in df.iterrows():
    games = row[1]['Dataframe']
    source2 = source2.append(games, ignore_index=True)
'''

In [121]:
#source2.to_csv('nba6.csv',index=False)